.carousel {
   height: 300px;
   overflow: hidden;
   text-align: center;
   position: relative;
   padding: 0;
   list-style: none;
}

.carousel__controls,
.carousel__activator {
   display: none;
}

.carousel__track {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 0;
   margin: 0;
   transition: transform 0.5s ease 0s;
}

.carousel__slide {
   height: 100%;
   position: absolute;
   overflow-y: auto;
   opacity: 0;
}

.carousel__slide img {
   max-width: 100%;
   height: auto;
}

/* Additional Styles for Case Study Carousel */
.carousel__slide p {
   font-size: 16px;
   color: #333;
}

.carousel__slide .client_logo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: block;
   margin: 20px auto;
}

.carousel__slide .bg {
   max-width: 100%;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 10px;
}

.carousel__indicators {
   position: absolute;
   bottom: 10px;
   width: 100%;
   text-align: center;
}

.carousel__indicator {
   height: 10px;
   width: 10px;
   border-radius: 50%;
   display: inline-block;
   background-color: #ccc;
   margin: 0 5px;
   cursor: pointer;
}

.carousel__indicator.active {
   background-color: #333;
}